$primary-color:          #53b300;
$secondary-color:        #909090;
$tertiary-color:         #f0f0f0;
$white-color:            #FFF;
$search-container-color: rgba(0,0,0,0.3);
$checkbox-hover-color:   rgba(0,0,0,0.2);
$table-border-color:     #d0d0d0;
