// compileCompressed: ../style.min.css

// IMPORTS
  @import "./variable";
  @import "./font";

// GENERAL PROPERTIES
  // Box sizing
    *,
    *::after,
    *::before{
      box-sizing: inherit;
      font-family: "ColabThin";
    }

    html{
      box-sizing: border-box;
    }

  // Height
    html,
    body{
      height: 100%;
    }

// ELEMENT SPECIFIC PROPERTIES
  // Header
    header{
      background: $header-background-color;
      color: $white-color;
      height: 50px;
      text-align: left;
    }

  // Footer
    footer{
      background: $black-color;
      height: 100px;
    }

  // Main
    main{
      min-height: 100%;
    }

    // Hero-image
      .hero-image{
        align-items: center;
        background-image: url("./images/book.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        height: 85%;
        padding: 25px;
      }

      // Search Container
        .search-container{
          background: $search-container-color;
          border-radius: 2px;
          padding: 25px;
        }
